{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Quienes Somos?</h1>
    <h2> Nand Solutions, somos una empresa la cual 
        se centra en reducir los casos de acoso y 
        discriminacion que suceden en la actualidad 
        mediante el uso de tecnologia geografica y 
        la retroalimentacion de nuestros usuarios. 
        Como dice el acronimo en nuestro nombre 
        NAND, No Acoso Ni Discriminación. </h2>
    <h1> Como Funciona?</h1>
    <h2> Puedes usar nuestro sistema de Maps, para
         poder ver los lugares con mas casos de 
         acoso y/o discriminación cerca de tu 
         ubicación, para asi evitarlos. Tambien 
         puedes buscar a los lugares los cuales 
         deseas visitar y ver si algun otro usuario 
         a tenido un suceso y puesto una reseña 
         sobre su experiencia en tal lugar.</h2>
</body>
</html>