{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>DenunciApp - Sobre DenunciApp</title>
</head>
<body>
    <hr>
    <h2>Menu:</h2>
    <ul>
        <li>
            <a href="">Inicio</a>
        </li>
        <li>
            <a href="sobre-denunciapp">Sobre DenunciApp</a>
        </li>
        <li>
            <a href="formulario">Formulario</a>
        </li>
    </ul>
    <br/>
    <hr>
    <h1>Sobre NAND Solutions</h1>
    <hr>
    <ul>
        <li>¿Quienes Somos?</li>
        <p>Somos un grupo de estudiantes universitarios de la Universidad Técnica Federico Santa María, que juntos fundamos la empresa *ficticia* NAND Solutions, que como el acrónimo "NAND" indica, es una empresa con un objetivo en la No Agresión y No Discriminación, que desarrolla software competente y estratégico a la hora de cumplir con nuestra meta de crear un mundo más inclusivo y paritario, en el que todas y todos sean respetados sin importar las cualidades única que lo forman a uno como individuo de la sociedad, sea etnia, color de piel, sexualidad, características físicas varias, etc.</p>
        <li>Origen de DenunciApp</li>
        <p>Esta aplicación / página web, tiene como origen el desarrollo de un proyecto semestral para la asignatura de Introducción a la Ingeniería, supervisado por la docente Elizabeth Montero. El proyecto busca que nosotros como estudiante creemos una aplicación web en torno a alguna de las siguientes 3 propuestas, inclusión y no discriminación, apps con enfoque de género, y cambio climático, nosotros como grupo decidimos elegir la propuesta número uno, sobre la cual fundamos la empresa *ficticia* NAND Solutions y posteriormente comenzar con el desarrollo de la aplicación de nuestro proyecto, dando origen así a DenunciApp.</p>
        <li>¿Que es DenunciApp</li>
        <p>DenunciApp es una aplicación web que permite denunciar a las víctimas o testigos de todo tipo de agresiones el informar tanto el tipo de agresión, el motivo, el lugar donde ocurrió el suceso, y demás datos relevantes, para así almacenar esta información para que posteriormente sea desplegado un punto en el mapa del lugar donde ocurrió la agresión, también con el fin de proteger la privacidad tanto de las víctimas como el victimario todos los datos personales como nombres, edades y características físicas no serán expuestas de ninguna manera en la página web, si no que en una acción conjunta con la institución de carabineros ellos tendrán acceso a estos datos para procesar así las denuncia de manera legal de manera rápida y centralizada.</p>
    </ul>
</body>
</html>