{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DenunciAPP - Formulario</title>
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
</head>
<body>
    <header>
        <div class="recorte">
            <img src="{% static 'img/logo-header.jpeg' %}" alt="" height='220px'>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobre-denunciapp/">Sobre DenunciAPP</a></li>
            <li><a href="/formulario/">Formulario</a></li>
            <li><a href="/mapa/">Mapa</a></li>
            <li><a href="/preguntas-frecuentes/">Preguntas Frecuentes</a></li>
        </ul>
    </nav>
    <form action="/registrarform/" method="POST">
        {% csrf_token %}
        
        <fieldset>
            <legend><b>Datos Personales</b></legend>
            <label>Nombres:</label>
            <input type="text" name="txtNombres" placeholder="Escribe tus Nombres"/>

            <label>Apellidos:</label>
            <input type="text" name="txtApellidos" placeholder="Escribe tus Apellidos"/>

            <label>Edad:</label>
            <input type="number" name="txtEdad" placeholder="Escribe tu Edad"/><br/>

            <label>Rut:</label>
            <input type="text" name="txtRut" placeholder="Escribe tu Rut"/>

            <label>Direccion Domicilio:</label>
            <input type="text" name="txtDireccion" placeholder="Escribe tu Direccion"/>
        
            <label>Telefono Celular:</label>
            <input type="number" name="txtTelefono" placeholder="Escribe tu Numero Celular"/><br/>

            <label>Correo Electronico:</label>
            <input type="email" name="txtCorreo" placeholder="Escribe tu Correo Electronico"/><br/>
        </fieldset>
        
        <Fieldset>
            <legend><b>Detalles del Incidente</b></legend>
            <label>Tipo de Agresion:</label>
            <select name="TipoAgresion">
                <option value="">Selecciona...</option>
                <option value="Sexual">Sexual</option>
                <option value="Laboral">Laboral</option>
                <option value="Domestica">Domestico</option>
                <option value="Psicologica">Psicologico</option>
                <option value="Social">Social</option>
                <option value="Fisica">Fisico</option>
                <option value="Verbal">Verbal</option>
            </select>
        
            <label>Motivo:</label>
            <select name="TipoMotivo">
                <option value="">Selecciona...</option>
                <option value="Machista">Machismo</option>
                <option value="Homofobico">Homofobia</option>
                <option value="Transfobico">Transfobia</option>
                <option value="Clasista">Clasismo</option>
                <option value="Racista">Racismo</option>
            </select>

            <label>Direccion del Incidente:</label>
            <input type="text" name="txtDireccionIncidente"/><br/>
            
            <label>Fecha del Incidente:</label>
            <input type="date" name="txtFechaIncidente"/>

            <label>Hora del Incidente:</label>
            <input type="time" name="txtHoraIncidente"/><br/>
        </Fieldset>
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
