{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DenunciAPP - Mapa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
    <script type="module" src="{% static 'js/map.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: {lat: -33.04059650540776, lng: -71.571653992977724},
          zoom: 13,
          mapId: 'aabacebd5b1b5d90'
        });

        infoWindow = new google.maps.InfoWindow({
          content: ""
        });

        const script = document.createElement("script");

        script.setAttribute(
          "src",
          "{% static 'json/datos2.txt' %}"
        );
        document.getElementsByTagName("head")[0].appendChild(script);
      }
      function eqfeed_callback(results) {

        for (let i = 0; i < results.features.length; i++) {
          const coords = results.features[i].geometry.coordinates;
          const latLng = new google.maps.LatLng(coords[1], coords[0]);
          const marker = new google.maps.Marker({
            position: latLng,
            map: map,
          });
          
          const f = results.features[i].properties;
          
          marker.addListener("click", (e) => {
            
            const contentString = 
              '<div class="info-window-content">'+
              '<h2>'+f.place +'</h2>'+
              '<h3>'+f.mag+'</h3><p>'
              '</div>';
            
            infoWindow.setContent(contentString);
            infoWindow.open({
              anchor: marker,
              map,
              shouldFocus: false, 
            });
            
          });
        }
      }

      window.initMap = initMap;
      window.eqfeed_callback = eqfeed_callback;
    </script>
    <style>
      #map {
        height: 700px;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      h2{
        margin-top: 0;
      }

      .info-window-content{
        padding: 8px;
      }
    </style>
</head>
<body>
  <header>
    <div class="recorte">
      <img src="{% static 'img/logo-header.jpeg' %}" alt="" height='220px'>
  </div>
</header>
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/sobre-denunciapp/">Sobre DenunciAPP</a></li>
        <li><a href="/formulario/">Formulario</a></li>
        <li><a href="/mapa/">Mapa</a></li>
        <li><a href="/preguntas-frecuentes/">Preguntas Frecuentes</a></li>
    </ul>
</nav>
    <div id="map"></div>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa_xoUht1mXl6xz1J4aMH3DUeEOfjG_5Y&callback=initMap&v=weekly"
    defer
  ></script>
</body>
</html>