<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DenunciAPP - Mapa</title>
</head>
<body>
  <hr>
    <h2>Menu:</h2>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/sobre-denunciapp/">Sobre DenunciAPP</a>
        </li>
        <li>
            <a href="/formulario/">Formulario</a>
        </li>
        <li>
            <a href="/mapa/">Mapa</a>
        </li>
    </ul>
    <br/>
    <hr>
    <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBa_xoUht1mXl6xz1J4aMH3DUeEOfjG_5Y
    &q=El+Rosal+286,Litueche+Chile">
</iframe>
</body>
</html>