{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DenunciAPP - Sobre DenunciAPP</title>
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="recorte">
            <img src="{% static 'img/logo-header.jpeg' %}" alt="" height='220px'>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobre-denunciapp/">Sobre DenunciAPP</a></li>
            <li><a href="/formulario/">Formulario</a></li>
            <li><a href="/mapa/">Mapa</a></li>
            <li><a href="/preguntas-frecuentes/">Preguntas Frecuentes</a></li>
        </ul>
    </nav>

    <main>
        <div class="wrapper">
            <h2>Preguntas Frecuentes</h2>
            <div class="faq active">
                <button class="accordion">
                    ¿Como obtienen sus datos?
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>La informacion se consigue a traves de formularios que los usuarios llenan con sus experiencias, esta va por categorias y los usuarios explican la situación, el donde, el que paso, y la zona del mismo incidente. De este modo podemos tomar la experiencia y el sector y asignarlo al mapa, asi por medio de "zonas de calor" se podra ver que zonas tiene el mayor / menor numero de incidentes por medio de la intencidad del color.</p>
                </div>
            </div>
        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            for(i = 0; i < acc.length ; i++){
                acc[i].addEventListener("click", function
                () {
                    this.ClassList.toggle("active")
                    this.parentElement.ClassList.toggle("active");
                    var pannel = this.nextElementSibling;
                    if(pannel.style.display === "block"){
                        pannel.style.display = "none";
                    }else{
                        pannel.style.display = "block";
                    }
                });
            }

        </script>
    </main>
</body>
</html>
